{% extends 'cafe/basic.html' %} 

{% block title %} Entry {% endblock title %}

{%block body %}
<br />

<div class="container mx-auto">
        <div
          class="py-8 flex flex-wrap md:flex-nowrap shadow-xl rounded-lg p-4">
          <div class="md:flex-grow">
            <div class="flex flex-1">
              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2 inline-flex
                  "
                >
                  Sale Date
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                </label>
                <input
                  id="today-sale-date"
                  type='text'
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                />
              </div>

              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2 inline-flex
                  "
                >
                  Cash Sale
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                </label>
                <input
                  readonly
                  value = "{{dailySales.total_cash_amt}}"
                  id="today-sale-cash-amt"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                />
              </div>

              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2 inline-flex
                  "
                >
                  Online Sale
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                </label>
                <input
                  readonly
                  value = "{{dailySales.total_online_amt}}"
                  id="today-sale-online-amt"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                />
              </div>

              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2 inline-flex
                  "
                >
                  Total Sale
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                </label>
                <input
                  readonly
                  id="today-sale-total-amt"
                  value = "{{dailySales.total_amt}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                />
              </div>
              
            </div>
          </div>
        </div>

  <section class="text-gray-600 body-font overflow-hidden">
    <div class="divide-y-2 divide-gray-100 relative my-10 p-5 mx-5">
      <!--Starting of new row-->
      <form class="" action="/add-sale/" method="POST" id="add-sale-form">
        {% csrf_token %}
        <div
          class="py-8 flex flex-wrap md:flex-nowrap shadow-xl rounded-lg p-4">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold text-xl title-font text-gray-700"
              >Sale by</span
            >
            <span class="mt-1 text-gray-500 text-sm">
              <div class="mt-1">
                <label class="inline-flex items-center">
                  <input
                    checked
                    type="radio"
                    class="form-radio h-6 w-6"
                    name="sale-by"
                    id="sale-by"
                    value="arjun"
                  />
                  <span class="ml-3 text-lg inline-flex"> Arjun </span>
                </label>
              </div>
              <div class="mt-1">
                <label class="inline-flex items-center">
                  <input
                    type="radio"
                    class="form-radio h-6 w-6"
                    name="sale-by"
                    id="sale-by"
                    value="jitender"
                  />
                  <span class="ml-3 text-lg inline-flex"> Jitender </span>
                </label>
              </div>
            </span>
          </div>
          <div class="md:flex-grow">
            <div class="flex flex-1">
              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                  for="sale-amt"
                >
                  Amount
                </label>
                <input
                  name="sale-amt"
                  id="sale-amt"
                  requied
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                  type="number"
                  placeholder="eg. 100"
                />
                <p class="text-red-500 text-xs italic">
                  Please fill out this field.
                </p>
              </div>
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                  for="pmt-type"
                >
                  Payment Type
                </label>
                <div class="mt-1 inline-flex items-center">
                  <input
                    checked
                    type="radio"
                    class="form-radio h-6 w-6"
                    name="sale-pmt-type"
                    value="cash"
                    id="sale-pmt-type"
                  />
                  <span class="ml-3 text-lg inline-flex">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                    Cash
                  </span>
                </div>
                <div class="mt-1">
                  <label class="inline-flex items-center">
                    <input
                      type="radio"
                      class="form-radio h-6 w-6"
                      name="sale-pmt-type"
                      id="sale-pmt-type"
                      value="online"
                    />
                    <span class="ml-3 text-lg inline-flex">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
                        />
                      </svg>
                      Online
                    </span>
                  </label>
                </div>
              </div>
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                  for="sale-desc"
                >
                  Description
                </label>
                <input
                  name="sale-desc"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border border-gray-200
                    rounded
                    py-3
                    px-4
                    leading-tight
                    focus:outline-none focus:bg-white focus:border-gray-500
                  "
                  id="sale-desc"
                  type="text"
                  placeholder="eg. Print out"
                />
              </div>
              {% comment %}
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                  for="sale-time"
                >
                  Time
                </label>
                <input
                  name="sale-time"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border border-gray-200
                    rounded
                    py-3
                    px-4
                    leading-tight
                    focus:outline-none focus:bg-white focus:border-gray-500
                  "
                  id="sale-time"
                  type="time"
                />
              </div>
              {% endcomment %}
              <div class="w-full md:w-1/4">
                <button
                  type="submit"
                  class="
                    mt-2
                    text-white
                    w-full
                    bg-purple-600
                    hover:bg-purple-700
                    focus:outline-none
                    focus:ring-2
                    focus:ring-purple-600
                    focus:ring-opacity-50
                    p-5
                  "
                >
                  Add Sale
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="sales" class="my-5">
      {% for sale in sales %}
      <div
        class="divide-y-2 divide-gray-100 relative p-3 mx-5"
        id="sale-id-{{sale.pk}}"
      >
        <div
          class="py-8 flex flex-wrap md:flex-nowrap shadow-lg p-4 rounded-lg"
        >
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold text-xl title-font text-gray-700"
              >Sale by</span
            >
            <span class="mt-1 text-gray-500 text-2xl">
              <div class="mt-1">{{sale.user.username }}</div>
            </span>
          </div>
          <div class="md:flex-grow">
            <div class="flex flex-1">
              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                >
                  Amount
                </label>
                <input
                  readonly
                  value="{{sale.amount}}"
                  id = "sale-total-amt-{{sale.pk}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                  type="number"
                />
              </div>
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                >
                  Payment Type
                </label>
                <div class="mt-1 inline-flex items-center">
                  <input
                    readonly
                    id = "sale-pmt-type-{{sale.pk}}"
                    value="{{sale.payment_type}}"
                    class="
                      appearance-none
                      block
                      w-full
                      bg-gray-200
                      text-gray-700
                      border
                      rounded
                      py-3
                      px-4
                      mb-3
                      leading-tight
                      focus:outline-none focus:bg-white
                    "
                    type="text"
                  />
                </div>
              </div>
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                >
                  Description
                </label>
                <input
                  readonly
                  id = "sale-desc-{{sale.pk}}"
                  value="{{ sale.description }}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border border-gray-200
                    rounded
                    py-3
                    px-4
                    leading-tight
                    focus:outline-none focus:bg-white focus:border-gray-500
                  "
                  type="text"
                />
              </div>
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                >
                  Time
                </label>
                <input
                  readonly
                  id = "sale-time-{{sale.pk}}"
                  value="{{sale.timestamp}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border border-gray-200
                    rounded
                    py-3
                    px-4
                    leading-tight
                    focus:outline-none focus:bg-white focus:border-gray-500
                  "
                  type="text"
                />
              </div>
              <div class="w-full md:w-1/4">
                <form
                  action="/delete-sale/"
                  method="POST"
                  class="delete-sale-form"
                >
                  <input
                    type="hidden"
                    value="{{sale.pk}}"
                    id="sale-id-{{sale.pk}}"
                    name="sale-id"
                  />
                  <button
                    id="del-sale-btn-{{sale.pk}}"
                    value="{{sale.pk}}"
                    type="button"
                    class="
                      del-sale-btn
                      mt-2
                      text-white
                      w-full
                      bg-red-600
                      hover:bg-red-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-red-600
                      focus:ring-opacity-50
                      p-5
                    "
                  >
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock body %} 


{% block js %}
<script>
  var today = new Date();
  var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
  var date = `${today.getDate()}/${today.getMonth()}/${today.getFullYear()} : ${days[today.getDay()]}`;
  $("#today-sale-date").val(date);
</script>

<script>
  $('body').on('click','.del-sale-btn', function(){
      {% comment %} alert('delete clicked for id: ' + $(this).attr('id')); {% endcomment %}
      var btnId = $(this).val();
      var data = {
        'sale-id' : btnId,
        'csrfmiddlewaretoken' :  $("[name='csrfmiddlewaretoken']").val()
      }
      $.ajax({
               type: "POST",
               url: '/del-sale/',
               data: data, // serializes the form's elements.
               success: function(data)
               {
                   alert(data.msg); // show response from the php script.
                   if(data.status){
                      $(`#sale-id-${btnId}`).remove();

                      var curr_amt =  parseInt($(`#today-sale-${data.payment_type}-amt`).val());
                      var curr_total_amt = parseInt($(`#today-sale-total-amt`).val());
                      var add_amt = parseInt(data.amount);
                      console.log(`curr_amt : ${curr_amt}`);
                      console.log(`curr_total_amt : ${curr_total_amt}`);
                      console.log(`add_amt : ${add_amt}`);

                      $(`#today-sale-${data.payment_type}-amt`).val(curr_amt - add_amt);
                      $(`#today-sale-total-amt`).val(curr_total_amt - add_amt);
                    }
               }
             });
  });
</script>

<script>
  $('#add-sale-form').on('submit', (e)=>{
   e.preventDefault(); // avoid to execute the actual submit of the form.

      var form = $(this);
      var url = form.attr('action');
      var data = {
          'user' : $('input[name="sale-by"]:checked').val(),
          'amount' : $("#sale-amt").val(),
          'payment_type' : $('input[name="sale-pmt-type"]:checked').val(),
          'description' : $("#sale-desc").val(),
          {% comment %} 'sale-time' : $("#sale-time").val(), {% endcomment %}
          'csrfmiddlewaretoken' :  $("[name='csrfmiddlewaretoken']").val()
          }
      console.log(data)
      $.ajax({
             type: "POST",
             url: '/add-sale/',
             data: data, // serializes the form's elements.
             success: function(response)
             {
                 alert(response.msg); // show response from the php script.
                 if(response.status){
                   data['pk'] = response.pk;
                   create_sale(data);
                 }
             }
           });

  });
</script>

<script>
  function create_sale(sale) {
    var curr_amt =  parseInt($(`#today-sale-${sale.payment_type}-amt`).val());
    var curr_total_amt = parseInt($(`#today-sale-total-amt`).val());
    var add_amt = parseInt(sale.amount);
    $(`#today-sale-${sale.payment_type}-amt`).val(curr_amt + add_amt);
    $(`#today-sale-total-amt`).val(curr_total_amt + add_amt);


    var saleDiv = `
        <div class="divide-y-2 divide-gray-100 relative my-10 p-5 mx-5" id="sale-id-{{sale.pk}}">
            <div class="py-8 flex flex-wrap md:flex-nowrap mt-5 shadow-lg p-4" >
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="font-semibold text-xl title-font text-gray-700"
                >Sale by</span
              >
              <span class="mt-1 text-gray-500 text-sm">
                <div class="mt-1">
                  ${sale.user}
                </div>
              </span>
            </div>
            <div class="md:flex-grow">
              <div class="flex flex-1">
                <div class="w-full md:w-1/4 px-3 md:mb-0">
                  <label
                    class="
                      block
                      uppercase
                      tracking-wide
                      text-gray-700 text-xs
                      font-bold
                      mb-2
                    "
                  >
                    Amount
                  </label>
                  <input
                    readonly
                    value = "${sale.amount}"
                    class="
                      appearance-none
                      block
                      w-full
                      bg-gray-200
                      text-gray-700
                      border
                      rounded
                      py-3
                      px-4
                      mb-3
                      leading-tight
                      focus:outline-none focus:bg-white
                    "
                    type="number"
                  />
                </div>
                <div class="w-full md:w-1/4 px-3">
                  <label
                    class="
                      block
                      uppercase
                      tracking-wide
                      text-gray-700 text-xs
                      font-bold
                      mb-2
                    "
                  >
                    Payment Type
                  </label>
                  <div class="mt-1 inline-flex items-center">
                  <input
                    readonly
                    value = "${sale.payment_type}"
                    class="
                      appearance-none
                      block
                      w-full
                      bg-gray-200
                      text-gray-700
                      border
                      rounded
                      py-3
                      px-4
                      mb-3
                      leading-tight
                      focus:outline-none focus:bg-white
                    "
                    type="text"
                  />
                  </div>

                </div>
                <div class="w-full md:w-1/4 px-3">
                  <label
                    class="
                      block
                      uppercase
                      tracking-wide
                      text-gray-700 text-xs
                      font-bold
                      mb-2
                    "
                  >
                    Description
                  </label>
                  <input
                    readonly
                    value = "${sale.description}"
                    class="
                      appearance-none
                      block
                      w-full
                      bg-gray-200
                      text-gray-700
                      border border-gray-200
                      rounded
                      py-3
                      px-4
                      leading-tight
                      focus:outline-none focus:bg-white focus:border-gray-500
                    "
                    type="text"
                  />
                </div>
                <div class="w-full md:w-1/4 px-3">
                  <label
                    class="
                      block
                      uppercase
                      tracking-wide
                      text-gray-700 text-xs
                      font-bold
                      mb-2
                    "
                  >
                    Time
                  </label>
                  <input
                    readonly
                    value="${new Date()}"
                    class="
                      appearance-none
                      block
                      w-full
                      bg-gray-200
                      text-gray-700
                      border border-gray-200
                      rounded
                      py-3
                      px-4
                      leading-tight
                      focus:outline-none focus:bg-white focus:border-gray-500
                    "
                    type="text"
                  />
                </div>
                <div class="w-full md:w-1/4">
                <form action="/delete-sale/" method="POST" class="delete-sale-form" >
                  <input type='hidden' value="${sale.pk}" id="sale-id-${sale.pk}" name="sale-id"/>
                  <button
                    id = 'del-sale-btn-${sale.pk}'
                    value = "${sale.pk}"
                    type="button"
                    class="
                      del-sale-btn
                      mt-2
                      text-white
                      w-full
                      bg-red-600
                      hover:bg-red-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-red-600
                      focus:ring-opacity-50
                      p-5"
                  >
                    Delete
                  </button>
                </form>
                </div>
              </div>
            </div>
            </div>  
          </div>
  `;
    $("#sales").prepend(saleDiv);
  }
</script>
{% endblock js %}
