{% extends 'cafe/basic.html' %} 

{% block title %} Search Sale {% endblock title %}


{% block body %}

<div class="container mx-auto">
        <div
          class="py-8 flex flex-wrap md:flex-nowrap shadow-xl rounded-lg p-4">
          <div class="md:flex-grow">
          <form action='/search-sale/' method='POST'>
          {% csrf_token %}
            <div class="flex flex-1">
              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2 inline-flex
                  "
                  for="sale-amt"
                >
                  Sale Day
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                </label>
                <input
                  id="search-sale-date"
                  name = 'search-sale-date'
                  type='date'
                  value = "{{dailySales.timestamp|date:'Y-m-d'}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                />
              </div>

              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2 inline-flex
                  "
                >
                  Cash Sale
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                </label>
                <input
                  readonly
                  value = "{{dailySales.total_cash_amt}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                />
              </div>

              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2 inline-flex
                  "
                  for="sale-amt"
                >
                  Online Sale
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                </label>
                <input
                  readonly
                  value = "{{dailySales.total_online_amt}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                />
              </div>

              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2 inline-flex
                  "
                >
                  Total Sale
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                </label>
                <input
                  readonly
                  value = "{{dailySales.total_amt}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                />
              </div>
              
              <div class="w-full md:w-1/4">
                <button
                  type="submit"
                  class="
                    mt-2
                    text-white
                    w-full
                    bg-purple-600
                    hover:bg-purple-700
                    focus:outline-none
                    focus:ring-2
                    focus:ring-purple-600
                    focus:ring-opacity-50
                    p-5
                  "
                >
                  Search
                </button>
              </div>
            </div>
          </form>
          </div>
        </div>

  <section class="text-gray-600 body-font overflow-hidden">

    <div id="sales" class="my-5">
      {% for sale in dailySales.statements.all %}
      <div
        class="divide-y-2 divide-gray-100 relative p-3 mx-5"
        id="sale-id-{{sale.pk}}"
      >
        <div
          class="py-8 flex flex-wrap md:flex-nowrap shadow-lg p-4 rounded-lg"
        >
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold text-xl title-font text-gray-700"
              >Sale by</span
            >
            <span class="mt-1 text-gray-500 text-2xl">
              <div class="mt-1">{{sale.user.username }}</div>
            </span>
          </div>
          <div class="md:flex-grow">
            <div class="flex flex-1">
              <div class="w-full md:w-1/4 px-3 md:mb-0">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                >
                  Amount
                </label>
                <input
                  readonly
                  value="{{sale.amount}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border
                    rounded
                    py-3
                    px-4
                    mb-3
                    leading-tight
                    focus:outline-none focus:bg-white
                  "
                  type="number"
                />
              </div>
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                >
                  Payment Type
                </label>
                <div class="mt-1 inline-flex items-center">
                  <input
                    readonly
                    value="{{sale.payment_type}}"
                    class="
                      appearance-none
                      block
                      w-full
                      bg-gray-200
                      text-gray-700
                      border
                      rounded
                      py-3
                      px-4
                      mb-3
                      leading-tight
                      focus:outline-none focus:bg-white
                    "
                    type="text"
                  />
                </div>
              </div>
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                >
                  Description
                </label>
                <input
                  readonly
                  value="{{ sale.description }}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border border-gray-200
                    rounded
                    py-3
                    px-4
                    leading-tight
                    focus:outline-none focus:bg-white focus:border-gray-500
                  "
                  type="text"
                />
              </div>
              <div class="w-full md:w-1/4 px-3">
                <label
                  class="
                    block
                    uppercase
                    tracking-wide
                    text-gray-700 text-xs
                    font-bold
                    mb-2
                  "
                >
                  Time
                </label>
                <input
                  readonly
                  value="{{sale.timestamp}}"
                  class="
                    appearance-none
                    block
                    w-full
                    bg-gray-200
                    text-gray-700
                    border border-gray-200
                    rounded
                    py-3
                    px-4
                    leading-tight
                    focus:outline-none focus:bg-white focus:border-gray-500
                  "
                  type="text"
                />
              </div>
              <div class="w-full md:w-1/4">
                <form
                  action="/delete-sale/"
                  method="POST"
                  class="delete-sale-form"
                >
                  {% csrf_token %}
                  <input
                    type="hidden"
                    value="{{sale.pk}}"
                    id="sale-id-{{sale.pk}}"
                    name="sale-id"
                  />
                  <button
                    id="del-sale-btn-{{sale.pk}}"
                    value="{{sale.pk}}"
                    type="button"
                    class="
                      del-sale-btn
                      mt-2
                      text-white
                      w-full
                      bg-red-600
                      hover:bg-red-700
                      focus:outline-none
                      focus:ring-2
                      focus:ring-red-600
                      focus:ring-opacity-50
                      p-5
                    "
                  >
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock body %}



{% block js %}
<script>
  $('body').on('click','.del-sale-btn', function(){
      {% comment %} alert('delete clicked for id: ' + $(this).attr('id')); {% endcomment %}
      var btnId = $(this).val();
      var data = {
        'sale-id' : btnId,
        'csrfmiddlewaretoken' :  $("[name='csrfmiddlewaretoken']").val()
      }
      $.ajax({
               type: "POST",
               url: '/del-sale/',
               data: data, // serializes the form's elements.
               success: function(data)
               {
                   alert(data.msg); // show response from the php script.
                   if(data.status){
                      $(`#sale-id-${btnId}`).remove();

                      var curr_amt =  parseInt($(`#today-sale-${data.payment_type}-amt`).val());
                      var curr_total_amt = parseInt($(`#today-sale-total-amt`).val());
                      var add_amt = parseInt(data.amount);
                      console.log(`curr_amt : ${curr_amt}`);
                      console.log(`curr_total_amt : ${curr_total_amt}`);
                      console.log(`add_amt : ${add_amt}`);

                      $(`#today-sale-${data.payment_type}-amt`).val(curr_amt - add_amt);
                      $(`#today-sale-total-amt`).val(curr_total_amt - add_amt);
                    }
               }
             });
  });
</script>
{% endblock js %}